<div class="header">Challenges</div>
<div class="header-title">CHALLENGES</div>
<nav>
  <div>
    <ul class="main-nav">
      <li class="nav-text"><a [routerLink]="['/home']">Home</a></li>
      <li class="nav-text"><a [routerLink]="['/challenges']">Challenges</a></li>
      <li class="nav-text"><a [routerLink]="['/home']">Projects</a></li>
    </ul>
  </div>
</nav>
  <div class="sm-text">This is a list of challenges that I give myself in hopes to progress in different areas of life.
  These Challenges are ordered from most resent to oldest.</div>

  <div class="challenge row ep challenge1">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1>Java Practice</h1>
      <br>
      <p>For one week complete a Java practices on <a href="https://www.w3resource.com/java-exercises/array/index.php">java arrays</a>, every day to further practice java skills.</p>
      <h3>Details/Requirements</h3>
      <ul>
        <li>Start: 10/21/17</li>
        <li>Time: 7 days</li>
        <li>Difficulty: 4</li>
        <li>Material needed: Willpower</li>
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>

<div class="challenge row ep challenge2">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Challenge Name</h1>
    <br>
    <p>Find out if  <a href="https://brilliant.org/courses/#science">brilliants</a> is worth it.</p>
    <h3>Details/Requirements</h3>
    <ul>
      <li>Time: 7 days</li>
      <li>Difficulty: 10</li>
      <li>Material needed: Willpower</li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="challenge row ep challenge3">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Challenge Name</h1>
    <br>
    <p>Description of what the challenge is about and what you need to acheve, also why you want to do this challenge.</p>
    <h3>Details/Requirements</h3>
    <ul>
      <li>Time: 7 days</li>
      <li>Difficulty: 10</li>
      <li>Material needed: Willpower</li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="challenge row ep challenge4">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Challenge Name</h1>
    <br>
    <p>Description of what the challenge is about and what you need to acheve, also why you want to do this challenge.</p>
    <h3>Details/Requirements</h3>
    <ul>
      <li>Time: 7 days</li>
      <li>Difficulty: 10</li>
      <li>Material needed: Willpower</li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="challenge row ep challenge5">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Challenge Name</h1>
    <br>
    <p>Description of what the challenge is about and what you need to acheve, also why you want to do this challenge.</p>
    <h3>Details/Requirements</h3>
    <ul>
      <li>Time: 7 days</li>
      <li>Difficulty: 10</li>
      <li>Material needed: Willpower</li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>


