<div class="content">
  <div class="header"></div>
  <div class="header-title">Ray Grant</div>

  <nav>
    <div>
      <ul class="main-nav">
        <li class="nav-text"><a [routerLink]="['/home']">Home</a></li>
        <li class="nav-text"><a [routerLink]="['/challenges']">Challenges</a></li>
        <li class="nav-text"><a [routerLink]="['/home']">Projects</a></li>
      </ul>
    </div>

  </nav>

  <div class="sum">Computer Sience major at the University of Utah, Website and App developer.</div>
  <!--<div class="sm-text">Hi, my name is Ray Grant and I am a student at the University of Utah and am <br>on the way to becoming a Computer Scientist</div>-->
  <br>
  <br>
  <div class="row" style="background-color: #F0F0F0; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div style="text-transform: uppercase; font-size: 40px; line-height: 50px; font-weight: 200;">About:</div>


      <div>
        <p>I first started to learn computers in 2014 when I was introduced to HTML. It seemed all to complex at the time but
          I ended up learning in and was amazed by how much you can do with it. So from then on I wanted to go to school for computer
          science. Now I am currently studying at the Univeritsy of Utah for a Bachlers in Compurter Science.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="text-transform: uppercase; font-size: 40px; line-height: 50px; font-weight: 200;">Things I hope to learn</div>
      <p>There is a lot that I hope to learn from University however theses are some of the most important. First, I really hope
        I learn the coding language Swift. Second, I hope I learn how to ajust to differnt languaged smoothely (thats been a problem for me).
        Lastly, I really hope I can learn real world skills.</p>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="ep school-container">
    <div class="row school-header">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="school-text">I recently graduated from Salt Lake Community College with my Associate of Science, and now I am currently focussing all of my effortes on my schooling at the University of Utah.</div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row school-content">
      <div class="col-sm-1"></div>
      <div class="col-sm-4" style="background-color: rgba(0,0,0,0.7);">
        <div class="content-text">Some of the classes I am taking right now: <br>
          <ul>
            <li>Cs 2100</li>
            <li>Math 1220</li>
            <li>Music 3600</li>
            <li>Phil 3200</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7"></div>
    </div>
  </div>

  <div class="footer row" style="background-color: #181818; height: 100px;">
    <div class="c0l-sm-2"></div>
    <div class="c0l-sm-8">

    </div>
    <div class="c0l-sm-2"></div>
  </div>
</div>



